:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* color-scheme: light dark; */
  color: rgba(30, 30, 30, 0.87);
  background: linear-gradient(224deg, #545EF5, #252525, #c4c4c4);
  background-size: 600% 600%;
  -webkit-animation: BackGradientAnim 21s ease infinite;
  -moz-animation: BackGradientAnim 80s ease infinite;
  animation: BackGradientAnim 21s ease i;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2{

  text-align: center;
  font-size: 1.2em;
  border-radius: 50px;
  background-color: transparent;
  box-shadow:  2px 2px 30px #a9a9a9,
             -2px -2px 6px #e5e5e5;
  line-height: 40px;
  margin-top: -8px;
  font-family: 'Outfit',sans-serif;
  color: rgb(130, 130, 130);
  /* background-color: #535bf2; */
}

@-webkit-keyframes BackGradientAnim {
  0%{background-position:0% 39%}
  50%{background-position:100% 62%}
  100%{background-position:0% 39%}
}
@-moz-keyframes BackGradientAnim {
  0%{background-position:0% 39%}
  50%{background-position:100% 62%}
  100%{background-position:0% 39%}
}
@keyframes BackGradientAnim {
  0%{background-position:0% 39%}
  50%{background-position:100% 62%}
  100%{background-position:0% 39%}
}

